@import "./variables";

@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}

@media (max-width: 768px) {
    .all-titles {
        padding: 5rem 0 2rem 0;
        margin: 0 0 8rem 0;
        @include fontProcessing('Roboto', 8rem, 400);

        &::after {
            width: 16rem;
        }
    }

    .hero {
        height: 50vh;

        .hero__text {
            @include fontProcessing('Roboto Mono', 8rem, 400);
        }

        .hero__wrap-btn {
            .hero__btn {
                @include fontProcessing('Roboto Mono', 4rem, 400);
                background-color: rgba(0, 3, 249, 0.5);
                padding: 0 2rem;

                img {
                    padding-left: 2rem;
                    width: 10rem;
                    height: 12rem;
                }
            }
        }
    }

    .projects {

        .radio-button {
            -webkit-appearance: none;
            appearance: none;
    
            position: absolute;
            width: 2.6rem;
            height: 2.6rem;
            top: 2.6rem;
            right: -5rem;
    
            border-radius: 100%;
            transition: 0.3s;
            border: 0.6rem solid rgb(27, 36, 47);
            background-color: rgb(27, 36, 47);
            outline: 0.4rem solid white;
        }
    
        .radio-button:checked {
            border: 0.8rem solid $mainColor;
            background-color: white;
        }

        .projects__controls {
            display: none;
            padding-bottom: 50px;
            // new styles
            position: relative;

            .radios-filter {
                display: flex;
                width: 100%;
                // new styles
                flex-direction: column;

                .button-cont {
                    width: 100%;
                    margin: 4rem 1rem;
                    height: 10.5rem;
                    position: relative;
                    background-color: rgba(255, 255, 255, 0.4);
                    border-radius: 0.5rem;

                    .radio-label {
                        @include fontProcessing('Roboto', 6rem, 400);
                    }

                    .technical-bar {
                        position: absolute;
                        bottom: 0;
                        height: 2.8rem;

                        .technical-per {
                            width: 100%;
                            height: 2.8rem;
                            border-radius: 0.6rem;
                        }

                        .technical-per::before {
                            content: attr(per);
                            position: absolute;
                            padding: 0.8rem 1.2rem;
                            background-color: white;
                            border-radius: 0.8rem;
                            color: $mainColor;
                            @include fontProcessing('Roboto mono', 2.5rem, 400);
                            bottom: -5.6rem;
                            right: 0;
                            transform: translateX(50%);
                        }
                    }
                }

                .button-cont:hover {
                    background-color: rgba(255, 255, 255, 0.4);
                    transition: 1s;
                    border-radius: 0.3rem;
                }
            }

            .radios-sort {
                width: 10rem;
                position: absolute;
                top: 5rem;
                right: 20rem;
                z-index: 4;
                display: flex;

                .button-cont {
                    display: flex;
                    width: 30rem;
                    margin-left: 3rem;
                    background-color: rgba(255, 255, 255, 0.5);
                    border-radius: 0.6rem;

                    .radio-label {
                        @include fontProcessing('Roboto', 6rem, 400);
                        z-index: 3;
                        position: relative;
                        display: block;
                        width: 12rem;
                        height: 9rem;
                        padding: 1rem;

                        span { 
                            margin-top: 0px;
                        }
                    }
                }

            
            }
        }

        .projects__content {
            .projects__item {
                height: 60rem;
                width: 100%;
                margin: 0 0 10rem 0;

                &:hover .project__description {
                    opacity: 0;
                }

                .project-mobileBtn {
                    position: absolute;
                    z-index: 3;
                    bottom: 0;
                    right: 0;
                    width: 29.7rem;
                    height: 10rem;
                    background-color: rgb(236, 19, 19);
                    font-size: 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    user-select: none;
                    font-family: Cyber;
                    cursor: pointer;
                }

                .project__description {
                    opacity: 0;
                    transform: translateX(150%);
                    @include fontProcessing('Roboto mono', 4rem, 400);

                    .project__text-wrap {
                        text-align: center;
                        padding: 2rem 2rem 0 2rem;
                        height: 50rem;
                        overflow-y: scroll;

                        .project__text-title {
                            @include fontProcessing('Roboto mono', 6rem, 400);
                            padding-bottom: 3rem;
                        }

                        &::before {
                            content: attr(data-hasAdaptive);
                            position: absolute;
                            top: 0;
                            right: 0;
                            background-color: #238636;
                            padding: 0 3rem;
                            font-size: 2.5rem;
                        }
                    }


                    .project__btn-wrap {
                        height: 10rem;

                        .cybr-btn_settings {
                            min-width: 60rem;
                            height: 10rem;
                            font-size: 4rem;

                            .cybr-btn__tag {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        height: 20rem;

        .footer__wrap {
            height: 100%;
            width: 60%;
        }

        .footer_icon {
            width: 10rem;
            height: 10rem;
        }

        .footer__back {
            width: 60px;
            height: 60px;
        }
    }
}