@import "./normalization";
@import "./elements";
@import "./variables";

// !!! repetitive styles
.cont {
    width: 120rem;
    margin: 0 auto;
}

.all-titles {
    text-align: center;
    @include fontProcessing('Roboto', 4rem, 400);
    letter-spacing: 1px;
    position: relative;

    &::after {
        content: '';
        width: 8rem;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

// !!! main elemets
html {
    scroll-behavior: smooth;
    color: white;
}

body {
    @include fontProcessing('Roboto', 2rem, 400);
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(27, 36, 47);
    border-radius: 5px;
    border: 2px solid black;
}

body::-webkit-scrollbar {
    width: 10px;
}

// !!! elements code
.page-loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 8, 8, 0.9);
    z-index: 999;
}

#hero-canvas {
    width: 100%;
    height: 100vh;
    background: black;
    position: absolute;
    z-index: -1;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__text {
        @include fontProcessing('Roboto Mono', 4rem, 400);
        padding: 1rem;
        text-align: center;
        user-select: none;
        color: #FFFFFF;

        span {
            user-select: text;
            font-weight: 900;
            letter-spacing: 3px;
        }
    }

    &__wrap-btn {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .hero__btn {
            @include fontProcessing('Roboto Mono', 2rem, 400);
            background-color: rgba(0, 3, 249, 0.5);
            padding: 0 1rem;
            display: flex;
            align-items: center;
            border: 0.2rem rgba(0, 3, 249, ) solid;

            img {
                padding-left: 1rem;
                width: 5rem;
                height: 6rem;
                transition: all 0.5s;
            }

            &:hover {
                img {
                    transition: all 0.5s;
                    transform: rotate(90deg) translate(-0.4rem);
                }

                & {
                    background-color: $mainColor;
                }
            }
        }
    }
}

.projects {
    position: relative;
    // background-color: rgb(27, 36, 47);
    // 1b242f
    background: linear-gradient(45deg, #1b242f, #2c394a, #29211e);
    background-size: 400% 400%;
    animation: bgLinear 25s ease infinite;

    @keyframes bgLinear {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    #particle-canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .projects__title {
        padding: 2.5rem 0 1rem 0;
        margin: 0 0 4rem 0;
    }

    .radio-button {
        -webkit-appearance: none;
        appearance: none;

        position: absolute;
        width: 1.3rem;
        height: 1.3rem;
        top: 1.3rem;
        right: -2.5rem;

        border-radius: 100%;
        transition: 0.3s;
        border: 0.3rem solid rgb(27, 36, 47);
        background-color: rgb(27, 36, 47);
        outline: 0.2rem solid white;
    }

    .radio-button:checked {
        border: 0.4rem solid $mainColor;
        background-color: white;
    }

    .projects__controls {
        position: relative;
        color: $mainColor;
        display: flex;
        transition: all 1s;
        padding-bottom: 50px;

        .radios-filter {
            display: flex;
            width: 90%;
            justify-content: space-between;

            .button-cont {
                width: 20%;
                margin: 0 1rem;
                text-align: center;
                height: 5.5rem;
                position: relative;

                .radio-label {
                    @include fontProcessing('Roboto', 3rem, 400);
                    width: 100%;
                    height: 100%;
                    display: block;
                    z-index: 3;
                    cursor: pointer;

                    span {
                        position: relative;
                    }
                }

                .technical-bar {
                    outline: 0.2rem solid white;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 1.4rem;
                    background-color: #202020;
                    border-radius: 0.3rem;

                    .technical-per {
                        width: 100%;
                        height: 1.4rem;
                        background-color: $mainColor;
                        border-radius: 0.3rem;
                        position: relative;
                    }

                    .technical-per._active {
                        animation: fillBars 5s 1;
                    }

                    .technical-per::before {
                        content: attr(per);
                        position: absolute;
                        padding: 0.4rem 0.6rem;
                        background-color: white;
                        border-radius: 0.4rem;
                        color: $mainColor;
                        @include fontProcessing('Roboto mono', 1rem, 400);
                        bottom: -2.8rem;
                        right: 0;
                        transform: translateX(50%);
                    }

                    @keyframes fillBars {
                        from {
                            width: 0;
                        }

                        to {
                            width: 100%;
                        }
                    }

                    .technical-per::after {
                        content: "";
                        position: absolute;
                        width: 0.7rem;
                        height: 0.7rem;
                        background-color: white;
                        bottom: -1.3rem;
                        right: 0;
                        transform: translateX(50%) rotate(45deg);
                        border-radius: 0.1rem;
                    }
                }

            }

            .button-cont:hover {
                background-color: rgba(255, 255, 255, 0.4);
                transition: 1s;
                border-radius: 0.3rem;
            }
        }

        .radios-sort {
            width: 10%;

            .button-cont {

                .radio-label {
                    @include fontProcessing('Roboto', 3rem, 400);
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        position: relative;
                        margin-top: 2px;
                    }
                }
            }

            .button-cont:hover {
                background-color: rgba(255, 255, 255, 0.4);
                transition: 1s;
                border-radius: 0.3rem;
            }
        }
    }

    .projects__content {
        width: 100%;
        min-height: 30rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: hidden;
        padding-bottom: 5rem;

        // margin for all items except the last 2
        .projects__item:not(:nth-last-child(-n+2)) {
            margin: 0 0 5rem 0;
        }

        .projects__item {
            height: 30rem;
            width: 55rem;
            position: relative;

            &:hover .project__description {
                opacity: 1;
                transition: opacity 0.3s;
            }

            .project__img {
                width: 100%;
                height: 100%;

                img {
                    object-fit: cover;
                }
            }

            .project-mobileBtn {
                display: none;
            }

            .project__description {
                position: absolute;
                top: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.9);
                @include fontProcessing('Roboto mono', 2rem, 400);
                opacity: 0;

                .project__text-wrap {
                    text-align: center;
                    padding: 1rem 1rem 0 1rem;
                    height: 24rem;
                    overflow-y: scroll;
                    position: relative;

                    &::-webkit-scrollbar-thumb {
                        background-color: rgb(189, 15, 15);
                        border-radius: 5px;
                    }

                    &::-webkit-scrollbar {
                        width: 0.5rem;
                    }

                    .project__text-title {
                        @include fontProcessing('Roboto mono', 3rem, 400);
                        padding-bottom: 1.5rem;
                    }

                    &::before {
                        content: attr(data-hasAdaptive);
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-color: #238636;
                        padding: 0 1rem;
                        font-size: 1rem;
                    }
                }

                .project__btn-wrap {
                    height: 6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .cybr-btn_settings {
                        min-width: 30rem;
                        height: 5rem;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

.footer {
    box-shadow: inset 0 5px 5px rgb(49, 62, 81);
    height: 10rem;
    width: 100%;
    background-color: rgb(36, 46, 60);
    display: flex;
    justify-content: center;

    .footer__wrap {
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer__back {
        position: fixed;
        right: 30px;
        bottom: 30px;
        width: 50px;
        height: 50px;
        background-color: transparent;
        transform: translateY(200px);
        transition: transform 1.5s;
        transition: background-color 0.5s;
        border-radius: 100%;
        z-index: 3;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 10px $mainColor;
        }

        img {
            width: 100%;
            height: 100%;
        }

    }

}

@import './adaptive';